<div class="jumbotron">
  <h1>Welcome to the Pizza Shack!</h1>

  <img src="http://info.cpk.com/images/menu_items/pizza/130501_goldsmith_cpk-1268_lores.jpg" class="img-responsive" >

  <%= link_to "Check out our pizzas!", pizzas_path, class: "btn btn-default"  %>
</div>